{% extends "admin/layouts/adminLayout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Page admin</h1>
    <div><a href="/admin/blogPosts">Gérer les articles</a></div>
    <div><a href="/admin/users">Gérer les utilisateurs</a></div>
    <div><a href="/admin/comments">Gérer les commentaires</a></div>
{% endblock %}