{% extends "admin/layouts/adminLayout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Page admin</h1>
    <a href="/admin/blogPosts">Gérer les articles</a>
{% endblock %}