{% extends "layouts/base.html.twig" %}

{% block title %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container text-center mt-3">
		<h1>Erreur 404</h1>
		<div>
			<img src="/images/error/error.png" alt="Emoji ecureuil">
		</div>
		<div>
			<a href="/" class="btn btn-primary mt-3 mb-3">Retour accueil</a>
		</div>
	</div>
{% endblock %}
