{% extends "layouts/base.html.twig" %}

{% block title %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Login page</h1>

        <form action="" method="POST">
            
        </form>
	</div>
{% endblock %}
