<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width, initial-scale=1" name="viewport">
		<link rel="stylesheet" type="text/css" href="/css/bootstrapCSS.css">
		<link rel="stylesheet" type="text/css" href="/css/app.css">
		<title>
			{% block title %}
				Admin
			{% endblock %}
		</title>
	</head>

	<body>
		<header>
			<nav class="navbar navbar-expand-lg bg-secondary" id="mainNav">
				<a class="navbar-brand" href="/admin">Admin</a>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a href="/logout" class="nav-link">Se déconnecter</a>
					</li>
				</ul>
			</nav>
		</header>

		<div class="container text-center mt-4 mb-4 blogBody">
			{% if flashMessage %}
				<div class="alert alert-success text-center">{{ flashMessage }}</div>
			{% endif %}
			{% if flashError %}
				<div class="alert alert-danger text-center">{{ flashError }}</div>
			{% endif %}
			{% block body %}{% endblock %}
		</div>

		<footer class="footer">
			<div class="container">
				<div class="row text-center">
					<div class="col-lg-6 col-md-6 base_footer_col">
						<h4>Réseaux sociaux</h4>
						<div class="base_footerLine"></div>
						<figure class="base_followLink">
							<a href="https://www.facebook.com/biolibre2/" target="_blank" rel="noreferrer noopener">
								<img alt="Facebook Icone" class="base_followLinkImg" src="/images/home/facebook.png">
							</a>
						</figure>
						<figure class="base_followLink">
							<a href="https://www.instagram.com/_biolibre/?hl=fr" target="_blank" rel="noreferrer noopener">
								<img alt="Instagram Icone" class="base_followLinkImg" src="/images/home/insta.png">
							</a>
						</figure>
						<figure class="base_followLink">
							<a href="https://www.youtube.com/channel/UCsEFTpwYL1z9AA5tLvqyHeg" target="_blank" rel="noreferrer noopener">
								<img alt="Youtube Icone" class="base_followLinkImg" src="/images/home/youtube.png">
							</a>
						</figure>
						<figure class="base_followLink">
							<a href="https://github.com/Maxime22" target="_blank" rel="noreferrer noopener">
								<img alt="Github Icone" class="base_followLinkImg" src="/images/home/github.png">
							</a>
						</figure>
					</div>
					<div class="col-lg-6 col-md-6 base_footer_col">
						<h4>Liens internes</h4>
						<div>
							<a href="/" class="font-weight-bold">Accueil</a>
						</div>
						<div>
							<a href="/logout" class="font-weight-bold">Se déconnecter</a>
						</div>
					</div>
				</div>
			</div>
		</footer>
		{% block javascripts %}{% endblock %}
	</body>
</html>
