<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width, initial-scale=1" name="viewport">
		<link rel="stylesheet" type="text/css" href="/css/bootstrapCSS.css">
		<link rel="stylesheet" type="text/css" href="/css/app.css">
		<title>
			{% block title %}
				Admin
			{% endblock %}
		</title>
	</head>

	<body>
		<header>
			<nav class="navbar navbar-expand-lg bg-secondary" id="mainNav">
				<a class="navbar-brand" href="/admin">Admin</a>
			</nav>
		</header>

		<div class="container text-center mt-4 mb-4 blogBody">
			{% if flashMessage %}
				<div class="alert alert-success">{{ flashMessage }}</div>
			{% endif %}
			{% block body %}{% endblock %}
		</div>

		<footer class="footer">
			<div>
				<a href="/admin">Retour à la page admin</a>
				<div>
					<div>
						<a href="/">Retour à l'accueil</a>
					</div>
				</footer>
				{% block javascripts %}{% endblock %}
			</body>
		</html>
	</body>
</html>
